* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #4d94ff; /* Azul do fundo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
}

h2 {
    font-size: 22px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

#message {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

input {
    width: 120px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    color: #444;
    outline: none;
}

button {
    background-color: #4d94ff;
    color: white;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #357abd;
}

.chances {
    font-size: 20px;
    color: #444;
}
